html, body{
    margin: 0px;
    background-color: #2f4f30;
    color: white;
}
.tittle{
    text-align: center;
    background-color: black;
    color: whitesmoke;
    padding: 20px;
    font-size: 25px;
}
.pCard{
    position: relative;
    width: 120px;
    left: 100px;
    margin-left: -75px;
}
.btn-space{
    margin-right: 35px;
}
#computer-cards, #player-cards{
    height: 190px;
}